In [1]:
# Leave commented out unless you recieve and error that you do not have psycopg2 installed.

import sys
import subprocess

try:
    import psycopg2
except ImportError:
    subprocess.check_call([sys.executable, "-m", "pip", "install", "--user", "psycopg2-binary"])
    import psycopg2

print(psycopg2.__version__)

2.9.11 (dt dec pq3 ext lo64)

In [2]:
import pandas as pd
from sqlalchemy import create_engine, text

In [3]:
database_name = 'prescribers'   

connection_string = f"postgresql://postgres:postgres@localhost:5432/{database_name}"

In [4]:
engine = create_engine(connection_string)

In [ ]:
# Which Tennessee counties had a disproportionately high number of opioid prescriptions?
# 1. zip -- zipfips 
# 2. county -- fipscounty 
# 3. drug flag -- drug table
# 4. count of prescription-- prescription
# 5. state -- prescriber

In [5]:

query1 = """


SELECT --p.drug_name, 
	f.county,
	-- d.opioid_drug_flag,
	--  f.state,
	COUNT(p.drug_name) AS prescription_count
	FROM drug d
LEFT JOIN prescription p
ON p.drug_name = d.drug_name
LEFT JOIN prescriber
ON prescriber.npi = p.npi
LEFT JOIN zip_fips z
ON z.zip = prescriber.nppes_provider_zip5
LEFT JOIN fips_county f
ON f.state = prescriber.nppes_provider_state
AND f.fipscounty = z.fipscounty 
WHERE d.opioid_drug_flag = 'Y'
AND f.state = 'TN'
GROUP BY --p.drug_name,
--	d.opioid_drug_flag,
--	f.state,
	f.county
ORDER BY prescription_count DESC
LIMIT 10;


"""

In [6]:
with engine.connect() as connection:
    result = connection.execute(text(query1))
    prescription_count = pd.DataFrame(result.fetchall(), columns=result.keys())

In [7]:
prescription_count.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 95 entries, 0 to 94
Data columns (total 2 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   county              95 non-null     object
 1   prescription_count  95 non-null     int64
dtypes: int64(1), object(1)
memory usage: 1.6+ KB

In [8]:
prescription_count.head()

     county  prescription_count
0  DAVIDSON                4750
1      KNOX                3776
2    SHELBY                3646
3  HAMILTON                2694
4  SULLIVAN                1691