In [1]:
# Leave commented out unless you recieve and error that you do not have psycopg2 installed.

import sys
import subprocess

try:
    import psycopg2
except ImportError:
    subprocess.check_call([sys.executable, "-m", "pip", "install", "--user", "psycopg2-binary"])
    import psycopg2

print(psycopg2.__version__)

2.9.11 (dt dec pq3 ext lo64)

In [2]:
import pandas as pd
from sqlalchemy import create_engine, text

In [3]:
database_name = 'prescribers'   

connection_string = f"postgresql://postgres:postgres@localhost:5432/{database_name}"

In [4]:
engine = create_engine(connection_string)

In [5]:
# Is there any association between a particular type of opioid and number of overdose deaths?
# 1. drug name - drug & prescription
# 2. opioid flag - drug
# 3. overdose deaths - overdose_deaths
# 4. fipscounty - overdose_deaths and zip_fips
# 5. zip - zipfips & prescriber

In [6]:

query5 = """

WITH opioid_type AS(
	SELECT d.drug_name,
		d.generic_name,
		z.fipscounty
	FROM drug d
LEFT JOIN prescription p
ON p.drug_name = d.drug_name
LEFT JOIN prescriber 
ON prescriber.npi = p.npi
LEFT JOIN zip_fips z
ON z.zip = prescriber.nppes_provider_zip5

WHERE opioid_drug_flag = 'Y'
GROUP BY d.drug_name,
	d.generic_name,
	z.fipscounty
),
odd AS (
	SELECT opioid_type.drug_name,
		opioid_type.generic_name,
		SUM(o.overdose_deaths) AS total_overdose_deaths
FROM opioid_type
LEFT JOIN overdose_deaths o
ON o.fipscounty::INT = opioid_type.fipscounty::INT
GROUP BY opioid_type.drug_name,
	opioid_type.generic_name
)
SELECT * 
FROM odd
WHERE total_overdose_deaths IS NOT NULL
ORDER BY total_overdose_deaths DESC;
"""
# This is not the correct answer. Since, there is no Unique key to directly join the tables, this is the closest answer. 
# Multiple counties are appearing for the same zip and multiple zip for same county. So we cannot derive the accurate results from the available data.

In [7]:
with engine.connect() as connection:
    result = connection.execute(text(query5))
    opioid_type_deaths = pd.DataFrame(result.fetchall(), columns=result.keys())

In [8]:
opioid_type_deaths.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 52 entries, 0 to 51
Data columns (total 3 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   drug_name              52 non-null     object
 1   generic_name           52 non-null     object
 2   total_overdose_deaths  52 non-null     int64
dtypes: int64(1), object(2)
memory usage: 1.3+ KB

In [9]:
opioid_type_deaths.head(10)

                 drug_name                 generic_name  total_overdose_deaths
0      MORPHINE SULFATE ER             MORPHINE SULFATE                   4790
1    ACETAMINOPHEN-CODEINE   ACETAMINOPHEN WITH CODEINE                   4790
2            OXYCODONE HCL                OXYCODONE HCL                   4790
3  OXYCODONE-ACETAMINOPHEN  OXYCODONE HCL/ACETAMINOPHEN                   4790
4                 FENTANYL                     FENTANYL                   4790