In [1]:
# Leave commented out unless you recieve and error that you do not have psycopg2 installed.

import sys
import subprocess

try:
    import psycopg2
except ImportError:
    subprocess.check_call([sys.executable, "-m", "pip", "install", "--user", "psycopg2-binary"])
    import psycopg2

print(psycopg2.__version__)

2.9.11 (dt dec pq3 ext lo64)

In [2]:
import pandas as pd
from sqlalchemy import create_engine, text

In [3]:
database_name = 'prescribers'   

connection_string = f"postgresql://postgres:postgres@localhost:5432/{database_name}"

In [4]:
engine = create_engine(connection_string)

In [5]:
# What did the trend in overdose deaths due to opioids look like in Tennessee from 2015 to 2018?
# 1. count of overdose death - overdose_deaths
# 2. year = 2015 to 2018 - overdose_deaths
# 3. state = TN - fipscounty
# 4. fipscounty - overdose_deaths and fipscounty
# 5. county name - fipscounty

In [6]:

query3 = """

SELECT o.year,
	SUM(o.overdose_deaths) AS Total_overdose_deaths
	--f.county
FROM overdose_deaths o
LEFT JOIN fips_county f
ON f.fipscounty::INT = o.fipscounty
WHERE year BETWEEN 2015 AND 2018
AND f.state = 'TN' -- same results without JOIN, however adding JOIN to make sure it is just for TN
GROUP BY o.year
		--f.county
ORDER BY o.year;

--Answer : Overdose deaths due to opioids kept increasing every year.
"""

In [7]:
with engine.connect() as connection:
    result = connection.execute(text(query3))
    overdose_deaths = pd.DataFrame(result.fetchall(), columns=result.keys())

In [8]:
overdose_deaths.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4 entries, 0 to 3
Data columns (total 2 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   year                   4 non-null      int64
 1   total_overdose_deaths  4 non-null      int64
dtypes: int64(2)
memory usage: 196.0 bytes

In [9]:
overdose_deaths.head()

   year  total_overdose_deaths
0  2015                   1033
1  2016                   1186
2  2017                   1267
3  2018                   1304