In [1]:
# Leave commented out unless you recieve and error that you do not have psycopg2 installed.

import sys
import subprocess

try:
    import psycopg2
except ImportError:
    subprocess.check_call([sys.executable, "-m", "pip", "install", "--user", "psycopg2-binary"])
    import psycopg2

print(psycopg2.__version__)

2.9.11 (dt dec pq3 ext lo64)

In [2]:
import pandas as pd
from sqlalchemy import create_engine, text

In [3]:
database_name = 'prescribers'   

connection_string = f"postgresql://postgres:postgres@localhost:5432/{database_name}"

In [4]:
engine = create_engine(connection_string)

In [5]:
# Who are the top opioid prescibers for the state of Tennessee?
# 1. prescribers name-- prescribers join prescription on npi
# 2. opioid flag -- drug
# 3. drug name - drug
# 4. drug name - prescription join drug

In [6]:

query2 = """

SELECT CONCAT(prescriber.nppes_provider_first_name, ' ', prescriber.nppes_provider_last_org_name)
	AS Provider_Name,
	--drug.drug_name,
	SUM(prescription.total_claim_count) AS precription_count
FROM prescriber
LEFT JOIN prescription 
ON prescription.npi = prescriber.npi
LEFT JOIN drug
ON drug.drug_name = prescription.drug_name
WHERE drug.opioid_drug_flag = 'Y'
AND nppes_provider_state = 'TN'
GROUP BY Provider_Name
	--drug.drug_name
ORDER BY precription_count DESC
LIMIT 10;


"""

In [7]:
with engine.connect() as connection:
    result = connection.execute(text(query2))
    top10_prescribers = pd.DataFrame(result.fetchall(), columns=result.keys())

In [8]:
top10_prescribers.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 2 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   provider_name      10 non-null     object
 1   precription_count  10 non-null     object
dtypes: object(2)
memory usage: 292.0+ bytes

In [19]:
top10_prescribers.head(10)

      provider_name precription_count
0      DAVID COFFEY              9384
1   JUSTIN KINDRICK              8405
2    SHARON CATHERS              7274
3  MICHELLE PAINTER              5709
4     RICHARD CLARK              5626
5      JAMES LADSON              5423
6    DWIGHT WILLETT              5221
7     ALICIA TAYLOR              5088
8    JENNIFER GREEN              5085
9        AMY BOWSER              4979